// @import 'styles/shared.scss';
@import '../../styles/shared';

.ContactList {
  @extend %list;

  // display: grid;
  // justify-content: center;
  // grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  // grid-gap: 24px;
}

.ContactListItem {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.ContactListItem:not(:last-child) {
  margin-bottom: 20px;
}
